@font-face {
  font-family: Inter;
  src: url(/assets/Fonts/Inter-Black.ttf);
  src: url(/assets/Fonts/Inter-Bold.ttf);
  src: url(/assets/Fonts/Inter-ExtraBold.ttf);
  src: url(/assets/Fonts/Inter-ExtraLight.ttf);
  src: url(/assets/Fonts/Inter-Light.ttf);
  src: url(/assets/Fonts/Inter-Medium.ttf);
  src: url(/assets/Fonts/Inter-Regular.ttf);
  src: url(/assets/Fonts/Inter-SemiBold.ttf);
  src: url(/assets/Fonts/Inter-Thin.ttf);
}
body {
  padding: 10px 30px 0 30px;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 450;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.section-main {
  margin-bottom: 80px;
}

//   all mixin
@mixin section-title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 44px;
  color: #141c24;
  margin: 0;
  text-align: center;
}

@mixin center {
  justify-content: center;
  margin: auto;
  display: flex;
}

@mixin section-subtitle {
  font-size: 1.125rem;
  color: #344051;
  text-align: center;
}

@mixin key-feature-three-topic-title($font-size) {
  font-size: $font-size;
  color: #002966;
  margin-bottom: 10px;
}

.btn-common {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  font-size: 1rem;
  border: none !important;
  outline: none !important;

  &:hover {
    opacity: 0.9;
  }
}

.btn-blue {
  @extend .btn-common;
  background-color: #1a75ff;
  color: white !important;
}

.btn-white {
  @extend .btn-common;
  color: black;
}

// navbar

.navbar-main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nabvar-item {
    padding: 10px 20px;
    list-style-type: none;
    cursor: pointer;
    color: #344051;
  }
  .navbar-logo-side {
    display: flex;
    align-items: center;
  }
  .main-logo-text {
    font-weight: 600;
    font-size: 19px;
    margin-left: 10px;
    color: #141c24;
  }
  .navbar-item-main {
    list-style-type: none;
    display: flex;
    padding: 10px 20px;
  }
}
// section 1 landing page
.row {
  display: flex;

  .Landing-page-left {
    width: 49.99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-page-title {
    font-size: 3rem;
    margin: 0;
  }

  .landing-page-font {
    @include section-subtitle();
    margin-top: 16px;
  }

  .landing-page-btn-main {
    margin-top: 64px;
  }

  .landing-page-main-image {
    position: relative;
    display: block;
  }

  .img-card {
    position: absolute;
    top: 67%;
    right: 36%;
    display: none;
  }

  .landing-page-right {
    width: 50%;
  }

  .small-screen-img {
    display: none;
  }
}

// section 3 key benefits
.our-features-section {
  .section-title {
    @include section-title();
  }
  .feature-text {
    color: #1a75ff;
    padding: 10px 12px;
    background-color: #f0f6ff;
    display: inline-block !important;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -164%);
  }

  .our-features {
    @include section-subtitle();
  }
  .font-color-gray {
    text-align: center;
  }
}

// image gallery section
.our-feature-page-icon {
  background: #f0f6ff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.row {
  .image-gallery-item-title {
    @include key-feature-three-topic-title(1.25rem);
  }
  .img-gallery-item-size {
    width: 100%;
  }
  .image-gallery-left-section {
    width: 50%;
  }

  .image-gallery-main {
    width: 50%;
  }

  .img-column {
    flex: 48% !important;
    max-width: 48% !important;
    padding: 0 4px !important;
  }

  .image-container {
    flex-wrap: nowrap;
    display: flex;
  }

  .text-decoration-justify {
    @include key-feature-three-topic-title(1rem);
  }

  .image-gallery-item {
    margin-bottom: 20px;
    padding: 24px;
  }
}

// sass section

.saas-main-div {
  .saas-heading {
    @include section-title();
  }

  .sass-section-btn-main {
    @include center();
    gap: 10px;
  }
  .second-line-saas {
    font-weight: 500;
    font-size: 1.125rem;
    color: #344051;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 15px 0 15px 0;
  }

  .sass-three-point-main {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    .sass-three-point-parent {
      display: flex;
      gap: 7px;
    }
  }
}
.sass-page-icon {
  background: #f0f6ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  height: 25px;
  color: #344051;
  margin-right: 5px;
  padding: 2px;
}
.card-subtitle {
  margin-top: 10px !important;
}
.blog-card-main {
  display: flex;
  gap: 24px;

  .three-card-subtitle {
    @include key-feature-three-topic-title(1.25rem);
    text-align: center;
  }

  .blog-card-title {
    font-size: 24px;
  }

  .avtar {
    display: flex;
    padding: 14px 0;

    .avtar-name {
      font-size: 14px;
      margin: 0;
    }

    .avtar-name1 {
      margin: 0;
    }

    .avtar-text {
      flex-direction: column;
      padding-left: 10px;
    }
  }
}

// FAQ section
.question-section-main {
  .question-section-title {
    @include section-title();
  }

  .our-features {
    @include section-subtitle();
  }

  .question-indivisual {
    @include center();
    width: 50%;
    justify-content: space-between;
    border: 1px solid black;
    padding: 18px;
    border-radius: 8px;
    align-items: center;
  }

  .question-indivisual-new-main {
    border: 1px solid black;
    padding: 18px;
    border-radius: 8px;
    width: 50%;
    justify-content: center;
    margin: auto;
  }

  .question-indivisual-new {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    margin-bottom: 23px;
  }

  .question-section-block-main {
    margin-top: 30px;
  }

  .section-6-card-main {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background: #f0f6ff;
    width: 527px;
    height: 173px;
    align-items: center;
    padding: 14px;
    border-radius: 20px;
  }
}

// client list
.our-key-title {
  @include section-title();
}

.client-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 10px;
  cursor: pointer;

  .client-img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }

  .client-img-main {
    padding: 20px;
    font-size: 1.563rem;
    text-align: center;
  }
}

// blog btn
.blog-three-card-main {
  .blog-btn {
    background: #f0f6ff;
    color: #0052cc;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    width: 46px;
    height: 20px;
    margin: auto;
    border-radius: 150px;
  }

  .blog-page-title {
    @include section-title();
  }

  .three-card-subtitle {
    @include section-subtitle();
  }

  .blog-btn-comman {
    text-align: center;
    margin-right: 3px;
    font-weight: 500;
    font-size: 1rem;
    width: auto;
    height: auto;
    border-radius: 150px;
    padding: 5px 6px;
    cursor: pointer;
  }

  .blog-btn-main {
    padding: 14px 0;
    display: flex;
  }

  .blog-btn-blue {
    background: #f0f6ff;
    color: #0052cc;
  }

  .blog-btn-gray {
    background: #f2f4f7;
    color: #0099cc;
  }

  .font-color-gray {
    color: #344051;
  }

  .blog-btn-green {
    background: #e6f9ff;
    color: #0099cc;
  }

  .load-more-btn {
    @include center();
    margin-top: 20px !important;
    text-align: center;
    width: 82px;
  }
}

//form section
.form-section-main {
  @include center();
  background-color: #f0f6ff !important;
  width: 80%;
  border-radius: 32px;
  padding: 64px;
  background: url(/assets/Images/gradient-image.png) right no-repeat;
  flex-direction: column;

  .form-title {
    font-size: 36px;
    color: #002966;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .form-subtitle {
    font-size: 18px;
    color: #002966;
    margin-bottom: 20px;
  }

  .input-field {
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 5px;
  }
}

// footer
.footer-main {
  display: flex;

  .footer-main-header {
    font-size: 1.125rem;
    font-weight: 600;
    align-items: center;
    display: flex;
  }
  .main-logo-footer {
    margin-right: 10px;
  }

  .footer-company-details-main {
    display: flex;

    .footer-product-company-section {
      display: flex;
    }

    .footer-list-item {
      padding: 10px;
      cursor: pointer;
    }

    .footer-img-icon {
      padding-right: 10px;
    }

    .footer-list-item-new {
      align-items: center;
      display: flex;
    }
  }

  .footer-list-header {
    font-weight: 600;
    font-size: 1.125rem;
  }
}

// last
.horizontal-rule {
  height: 1px;
  width: 100%;
  background: #e4e7ec;
  margin-top: 10px;
  margin-bottom: 10px;
}

.authorship-details {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.font-color-blue {
  color: #1a75ff;

  .term-condition-line {
    border-right: 1px solid #ced2da;
    padding-left: 12px;
    margin-right: 12px;
  }
}

//responsive
@media screen and (max-width: 600px) {
  .landing-page-right {
    width: auto !important;
  }
  .landing-page-img-small {
    width: 100%;
    margin-top: 19px;
  }
  .landing-page-title {
    font-size: 2.25rem !important;
  }
  .sass-three-point-main {
    margin-left: 100px;
  }
  .navbar-item-main {
    padding: 10px 0px !important;
  }
  .main-logo-text {
    display: none;
  }
  .responsive-text {
    text-align: justify !important;
  }
  .font-color-blue {
    text-align: center;
  }
  .websites-details {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  body {
    padding: 0 15px 0 15px;
  }

  .image-gallery-left-section {
    width: 100% !important;
  }

  //navbar
  .navbar-item-hidden {
    display: none !important;
  }

  //section 2

  .row {
    flex-direction: column;
  }
  .landing-page-main-image {
    display: none !important;
  }
  .small-screen-img {
    display: block !important;
  }

  .landing-page-btn-main {
    margin-top: 30px;
    flex-direction: column;
    display: flex;
  }

  .btn-blue {
    margin-bottom: 10px;
  }

  .Landing-page-left {
    width: 100% !important;
    margin-top: -40px;
  }

  .image-gallery-main {
    width: 100% !important;
  }

  .sass-section-btn-main {
    flex-direction: column;
    display: flex;
  }

  .sass-three-point-main {
    display: flex;
    flex-direction: column;
  }

  .question-indivisual {
    width: 80% !important;
  }

  .question-indivisual-new-main {
    width: 80% !important;
  }

  .section-6-card-main {
    width: 80% !important;
    height: auto !important;
  }

  .blog-card-main {
    display: flex;
    flex-direction: column;
  }
  .profile-card-img {
    width: 100% !important;
    height: auto !important;
  }

  .load-more-btn {
    width: auto !important;
  }

  .form-section-main {
    width: auto;
    padding: 20px 20px;
  }

  .client-list {
    display: grid;
    grid-template-columns: auto;
  }

  .form-input-btn {
    flex-direction: column;
  }

  .form-button {
    width: 96%;
    margin-top: 10px;
  }

  .input-field {
    width: 83%;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
  }
  .footer-about-section {
    padding: 10px;
    width: 90%;
    text-align: center;
  }

  .footer-product-company-section {
    display: flex !important;
    justify-content: space-between;
  }

  .footer-main-header {
    text-align: center;
    justify-content: center;
  }

  .footer-company-details-main {
    display: flex;
    flex-direction: column;
  }

  .authorship-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .landing-page-right {
    width: auto !important;
  }
  .landing-page-img-small {
    width: 100%;
    margin-top: 19px;
  }
  .navbar-main-row {
    .navbar-item-hidden {
      display: none !important;
    }
  }

  .row {
    display: flex;
    flex-direction: column !important;
  }

  .image-gallery-left-section {
    width: 100% !important;
  }

  .small-screen-img {
    display: block;
  }

  .landing-page-main-image {
    display: none !important;
  }

  .Landing-page-left {
    width: 100% !important;
  }

  .image-gallery-main {
    width: 100% !important;
  }

  .question-indivisual {
    width: 80% !important;
  }

  .question-indivisual-new-main {
    width: 80% !important;
  }

  .blog-card-main {
    display: flex;
    flex-direction: column !important;
  }

  .profile-card-img {
    width: 100%;
    height: auto;
  }

  .client-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .footer-main {
    flex-direction: column;

    .footer-about-section {
      margin-bottom: 20px;
    }
    .footer-company-details-main {
      display: grid;
      grid-template-columns: repeat(4, auto);
    }
  }
}
@media screen and (min-width: 900px) {
  .hamburger-menu {
    display: none;
  }
}
